* {
    margin: 0;
    padding: 0;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(84, 67, 67);
}
#ul {
    display: flex;
}
.card {
    background-color: red;
    width: 400px;
    margin: 20px;
}
